
.home-div {
    width: 100%;
    min-height: 100vh !important;
    height: auto !important;
    text-align: center !important;
}

.title-div {
    height: 100px !important;
}

h3 {
    font-size: 42px !important;
    font-weight: 540;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

span {
    font-size: 18px !important;
    font-weight: 400 !important;
}

.w-100 {
    width: 100% !important;
}

.title {
    color: rgb(255, 110, 57) !important;
}